
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
  font-family:'PT Sans', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 0px;;
  }
  
  body{
  margin: 0 auto;
  background-color:#E1EBEE;
  display:flex;
  flex-direction:column;
  justify-content: center;
  }


  a{
    text-decoration:none;
    color:#0066b2;
    font-weight:600;
  }

  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    z-index: 100;
    background-color: white;
    color: #0066b2;
    font-weight: 600;
    position: sticky;
    gap:1.5rem;
    padding:15px;
    margin:0 auto;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  }


  .nav-link{
    text-decoration-line:none;
    font-size:1.3rem;
    font-weight:600;
    color:#0066b2;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .nav-link:hover{
    border-bottom: 2px solid #0066b2;
    
  }

  #subject{
      font-size:30px;
  }



  .main{
    position:relative;
    display:flex;
    flex-direction:column;
    margin: -5px auto 30px 0;
    z-index:1;
  }

  .intro{
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-items:center;
      margin:0 auto;
      padding:30px;
      gap:100px;
      background-color: #0066b2;
  }

  .profile{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-self:center;
  }

  .image{
    display:flex;
    align-items:center;
    justify-content:center;
    height:40vh;
  }

  .image>img{
    object-fit:contain;
    height:150px;
    border-radius:50%;
  }
.socials{
display:flex;
flex-direction:row;
height:30px;
width:150px;
justify-content:space-evenly;
padding:10px;

    }
  
 #social-button{
    object-fit:contain;
    height:30px;
  }

  .description{
      display:flex;
      flex-direction:column;
      gap:10px;
      padding:20px;

  }

  #school{
    color:black;
  }
  #name{
    color:white;
  }
  .bio{
    font-size:20px;
    color:white;
    }

  #full-bio{
    width:100px;
  }
    

  @media  (max-width: 600px) {
    body {
      width: 100%;
    }
    
    .intro {
      flex-direction: column;
    }
    
    .description {
      text-align: center;
    }
    
    .projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .project-container {
      margin-bottom: 20px;
    }
  }



  .projects{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .proj-title{
    align-items: center;
    color: #0066b2;
    text-underline-offset:8px;
    margin:30px;
    font-weight: 600;
    font-size:30px;
    text-align: center;
  }
.projects-grid{
  width:90%;
	margin:0 auto;
	display:flex;
	flex-direction:row;
  background-color:inherit;
	justify-content:flex-start;
	gap:20px;
	flex-wrap: wrap;

}

.lower{
  background-color: #0066b2;
  padding:40px;
  border-radius: 5px;
  border:none;
  display:flex;
  flex-direction: center;
  justify-content: center;
  text-align: center;
}
  .project-container{
    display:block;
    text-align:left;
    margin-top:20px;
    box-shadow:0 3px 10px rgb(0 0 0 / 0.2);
    width:280px;
    height:330px;
    background-color:white;
    padding:20px;
  }

  .project-title{
    color:#0066b2;
    font-weight:800;
    padding:10px;
  }

  .project-image{
    height:160px;
    width:270px;
  }
  .project-image>img{
    height:inherit;
    width:inherit;
    background-color:inherit;
  }


  .project-description{
  padding:15px;
  }

  .proj-link{
    text-decoration:none;
    color:#4E2A84;
    font-weight: 600;
  }

  .proj-link:hover{
    text-decoration:underline 1px #0066b2;
    
  }

  .footer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:50px;
    font-size: 20px;
    color:black;
 
  }

  #more{
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    margin-bottom:50px;

  }

.handle{
  color:white;
  text-decoration:none;
}


.bio_body{
  width:80%;
  margin:0 auto;

}

.paragraph{
  margin-top:50px;
  margin-bottom:50px;
  display:flex;
  flex-direction:row;
  gap:20px;
  font-size: 20px;
}
.image-holder>img{
  height:250px;
  width:250px;
}

input{
  width:300px;
}

.footer-container{
display:flex;
width:70%;
flex-direction:column;
justify-content: center;
align-items: center;
padding:20px;
gap:20px;
background-color: blue;
}


.button{
  background-color: #E1EBEE;
  height:30px;
  border-radius: 5px;
  border:solid 1px #E1EBEE;
}

.button:hover {
  background-color: #E1EBEE;
}

#title {
  font-size: 25px;
  align-items: center;
  justify-content: center;
  padding:20px;
}

#description {
  text-align: center;
  padding:20px;
}

#source {
  align-self: flex-end;
  margin-top: 1rem;
  padding:20px;
}

a {
  text-decoration: none;
  color:4E2A84;
}

#graph{
  text-align: center;
  font-size: 20px;
}